@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	font-family: 'Poller One', cursive;
	
	cursor:default;
	/*disable text selection*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
h1{
	margin:0;
}

#startScreen{
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
}
#bg{
	width:2700px;
	position:absolute;
	left:0;
	display:block;
}
.title{
	width:500px;
	height:50%;
	margin:auto;
	position:absolute;
	left:0;
	right:0;
	top:1%;
	
	text-align:center;
	color:#FC0;
	font-size:4.5em;
}

.button{
	width:250px;
	height:50px;
	
	margin:auto;
	position:absolute;
	top:75%;
	left:0;
	right:0;
	
	background-color:#fffeb4;
	color:#FC0;
	border-radius: 10px;
	
	cursor:pointer;
}
.button:active{
	background-color:#FC0;
	color:#fffeb4;
}
.button p{
	margin-top:12px;
	text-align:center;
	font-size:1.5em;
}

.credits{
	margin:auto;
	position:absolute;
	left:0;
	right:0;
	bottom:1%;
	
	text-align:center;
	color:#FC0;
	font-size:1.5em;
}

#loadingBar{
	width:0%;
	height:5%;
	margin:auto;
	position:absolute;
	top:75%;
	left:0;
	right:0;
	
	background-color:#fffeb4;
	
	display:none;
}

#findPlayer{
	margin:auto;
	position:absolute;
	z-index: 500;
	top:50%;
	left:0;
	right:0;
	
	text-align:center;
	color:#FC0;
	font-size:1.5em;
	
	display:none;
}

#findPlayerLoader{
	width:50px;
	height:50px;
	margin:auto;
	position:absolute;
	z-index: -1;
	top:0;
	bottom:0;
	left:0;
	right:0;
	
	background-color:#fffeb4;
	border-radius:500px;
}

#winScreen{
	width:500px;
	margin:auto;
	position:absolute;
	top:-500px;
	left:0;
	right:0;
	
	text-align:center;
	color:#FC0;
	font-size:4.5em;
}